<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- S66587: PARAMETROS DEL SERVICIO-->
	<add key="INTERVALO_EJECUCION" value="1" />
    <add key="HORA_INICIO_PAGO_CUENTA" value="01:30" />
    <add key="HORA_FIN_PAGO_CUENTA" value="22:30" />
    <add key="HORA_INICIO_DELETE_DEBIT_TRIGGER" value="00:30" />
    <add key="HORA_FIN_DELETE_DEBIT_TRIGGER" value="21:00" />
    <!-- S66587: PARAMETROS DEL SERVIDORES DE BD - DEVCED01   -->
    <!-- CONEXION BASE DE DATOS CENTINELA -->
    <add key="CENT_SERVER" value="DEVCED01" />
    <add key="CENT_BD" value="BD_CENTINELA" />
    <add key="CENT_USUARIO" value="UsrBD_CENT" />
    <add key="CENT_PASSWORD" value="7C0486E529E3248C4F3AD9F3" />
    <!-- CONEXION BASE DE DATOS REPEXT -->
    <add key="REPEXT_SERVER" value="DEVDBR00" />
    <add key="REPEXT_BD" value="RepExt" />
    <add key="REPEXT_USUARIO" value="UsrBD_CENT" />
    <add key="REPEXT_PASSWORD" value="791687D41AD315AD305C" />
    <!-- CONEXION BASE DE DATOS DEBIT_TRIGGER - SMART LINK -->
    <add key="TRIGGER_SERVER" value="DEVNOD00" />
    <add key="TRIGGER_BD" value="DEBIT_TRIGGER" />
    <add key="TRIGGER_USUARIO" value="UsrBD_CENT" />
    <add key="TRIGGER_PASSWORD" value="7C0486E529E3248C4F3AD9F3" />
    <!-- CANAL DE ENVIO DE DATA A LA API -->
    <add key="CANAL_CENCERO" value="CENCERO" />
	<add key="CANAL_CEONLINE" value="CEONLINE" />
	<add key="CANAL_CEAJUSTE" value="CEAJUSTE" />
	<!-- S66587: AUTHORIZATION_ID BITALK-->
	<add key="AUTHORIZATION_ID_1" value="1" />
	<add key="AUTHORIZATION_ID_2" value="1" />
	<add key="AUTHORIZATION_ID_3" value="1" />
	<add key="AUTHORIZATION_ID_4" value="1" />
	<add key="AUTHORIZATION_ID_5" value="1" />
	<!-- S66587: CREDENCIALES BITALK-->
	<add key="URL_REG_CTA_BIZTALK" value="https://devzcw01:4530/api/v1/RegisterCallback/AccountNotification" />
	<add key="URL_DEL_ALS_BIZTALK" value="https://devzcw00:4600/api/v1/RegisterCallback/DeleteAccount" />
    <add key="URL_DEL_CAN_ALS_BIZTALK" value="https://devzcw01:4600/api/v1/RegisterCallback/DeleteAccountsbyChannel" />
    <add key="CANAL_BIZTALK" value="BCP_TEST_USER" />
    <add key="PASSWORD_BIZTALK" value="6527BED21BDF17BA2C47A69ED3" />
	<add key="PASSWORD_BIZTALK_API" value="IAeLZtOYO0GEHEGC" />
	<add key="PUBLIC_TOKEN" value="E39B8A04-EBCE-4AD6-BAFB-9BB851141299" />
	<add key="APP_USER_ID" value="BCP_TEST_USER" />
	<!-- S66587: FIN CREDENCIALES BITALK -->
    <!-- S66587: SMARTLINK-->
    <add key="URL_SMART_LINK" value="https://devotp00.bancred.com.bo/WCFServiceSLKSecure/SrvSLK.svc" />
    <!-- S66587: FIN CREDENCIALES BITALK -->
    <!-- S66587: PARAMETROS GENERALES -->
    <add key="FLAG_DEBITO_CUENTA" value="S" />
    <add key="MONTO_MINIMO_CUENTA" value="0" />
    <add key="ITF" value="0.003" />
    <!-- S66587: INICIO PARAMETROS GENERALES -->
    <!-- BC2835: PARAMETROS DE ENVIO DE CORREO-->
    <add key="CORREO_OPERACIONES" value="efernandezm@bcp.com.bo" />
    <add key="CORREO_APLICATIVO" value="{0}@bancred.com.bo" />
    <add key="SERVIDOR_SMTP" value="btbexc00" />
    <add key="ASUNTO" value="SERVICIO WINDOWS {0}" />
    <add key="CUERPOCORREO" value="SE GENERO UN ERROR EN EL PROCESO: " />
    <add key="SERVICIO" value="CENTINELA_CARGA_CUENTAS_AHO_CTE" />
    <add key="ROBOT" value="1" />
    <!-- DATOS LOGS-->
    <add key="Path_Log_File" value="D:/BCB_LOGS/CENTINELA/CENTINELA_CARGA_CUENTAS_1/Log_.txt" />
    <add key="Level" value="DEBUG" />
    <add key="Limit" value="5" />
    <add key="FileSizeLimitBytes" value="104857600" />
    <add key="Log_Structure" value="" />
    <!-- FIN DATOS LOGS-->
    <!-- BC2835: PARAMETROS DE LOGS-->
    <add key="LayoutNlog" value="${longdate} ${logger} ${message}" />
    <add key="RUTA_LOG" value="D:\\BCB_Logs\CENTINELA\LOG_" />
    <add key="LIMIT_LOG" value="30" />
    <add key="SIZE_LOG" value="209715200" />
    <!-- BC2835: FIN PARAMETROS DE LOGS-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- S66587: FIN PARAMETROS GENERALES -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>